* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #020202;
 }
 header {
    background: #2e54d1;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .logo img {
    height: 80px;
    width: 80px;
 }
 .navbar {
    list-style: none;
    display: flex;
    gap: 20px;
 }
 .navbar li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.3s;
 }
 .navbar li a:hover {
    background-color: hsl(241, 77%, 21%);
    border-radius: 4px;
 }
 .container {
    display: flex;
    margin: 20px;
 }
 .sidebar {
    width: 25%;
    background: #022570;
    padding: 15px;
 }
 .sidebar ul {
    list-style: none;
    padding: 0;
 }
 .sidebar ul li a {
    text-decoration: none;
    display: block;
    padding: 8px 0;
    color: #2e54d1;
 }
 .sidebar ul li a:hover {
    text-decoration: underline;
 }
 .main-content {
    width: 75%;
    padding: 20px;
    background: #fff;
 }
 .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
 }
 .image-card {
    width: calc(33.33% - 10px);
 }
 .image-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
 }
 footer {
background:#fff;
color: #fff;
text-align: center;
padding: 10px 20px;  
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;
 
}
 
.footer-logo img {
 height: 50px;
width: auto;
 margin-bottom: 20px;
 
}
 
footer a {
color: #a2d2ff;
 text-decoration: none;
 font-size: 14px;
 
}
 
footer p {
margin: 2px 0;
font-size: 14px;
 
}